<!-- mt-auto is from Bootstraps flexbox feature and it moves the footer to bottom of page -->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
     <span class="text-muted">&copy; Frank-Yelp 2022</span> 
  </div>  
</footer>
